@inherits LayoutComponentBase
<head>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
</head>

<main>
	<nav class="nav-menu">
		<div class="nav-container">
			<div class="nav-logo-and-items">
				<div class="nav-logo">
					<i class="bi bi-cash"></i>
					<a href="/">HuiMoney</a>
				</div>
				<ul class="nav-items">
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/support">Support</a></li>
				</ul>
			</div>
			<a href="/login" class="nav-login">Login</a>
		</div>
	</nav>

	@Body
</main>
