@page "/"

<PageTitle>Home</PageTitle>

<section class="slots-container">
	<div class="slots-content">

		@for (int i = 0; i < 1; i++)
		{
			@for (int j = 0; j < slots.Count; j++)
			{
				<a href="@slots[j].URL" class="slots-preview">
					<img src="images/background.jpg"/>
					<p>@slots[j].Title</p>
				</a>
			}
		}
	</div>
</section>

@code {
	private List<Slot> slots = new List<Slot>
	{
		new Slot { Title = "First Slot", URL = "first_slot" },
		new Slot { Title = "Second Slot", URL = "/" },
		new Slot { Title = "Coming Soon", URL = "/" },
		new Slot { Title = "Coming Soon", URL = "/" },
		new Slot { Title = "Coming Soon", URL = "/" },
		new Slot { Title = "Coming Soon", URL = "/" }
	};

	private class Slot
	{
		public string Title { get; set; }
		public string URL { get; set; }
	}
}
